@font-face{
	font-family: "Code Pro Normal";
	src : url("Code Pro.otf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "Code Pro Gras";
	src : url("Code Pro Bold.otf") format("truetype");
	font-style: normal;
}

@font-face{
	font-family: "Code Pro Léger";
	src : url("Code Pro Light.otf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


#logo{
	width: 6%;
	height: 6%;
	margin-top: 10px;
	margin-left: 15px;
}

#titre_logo{
	font: "Code Pro Gras";
	font-size: 40px;
	margin-left: 30px;
	padding-top: 10px;
}

img.superbg {
	margin: auto;
	max-height: 756px;
}

#nav_icon{
	margin-left: 25px;
	margin-top: -20px;
}

.pure-menu-list{
	max-height: 730px;
	position: fixed;
}

#div_blanc_1{
	margin-top: 10px;
}

.div_blanc_2{
	margin-top: 130px;
}

#nav_icon:hover{
	-webkit-animation: zoomIn 1s;
	animation: zoomIn 1s;
	border: 1px solid black;
}
